body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}

.main-content {
  white-space: nowrap;
}

/* STYLES FOR ALL SECTIONS */

.section {
  display: inline-block;
  vertical-align: top;
  white-space: normal;
  word-wrap: break-word;
  height: 1007px;
}

/* AVAILABLE SECTIONS */

/* IMAGE WITH TEXT SECTION */

.image_with_text {
    width: 1280px;
    background-repeat: no-repeat;
    background-position: right;
    height: 1007px;
    position: relative;
}

#image_1 {
    background-image: url("images/burillo_entrada.jpg");
}

.main_title {
    font-family: 'Jost', sans-serif;
    font-size: 80px;
    color: #682a6e;
    line-height: 72px;
    text-align: right;
    width: 680px;
    position: absolute;
    top: 320px;
    left: 19px;
    letter-spacing: -2px;
  }

  .main_subtitle {
    font-size: 32px;
    color: #bf406c;
    text-align: right;
    width: 640px;
    position: absolute;
    top: 540px;
    left: 51px;
    letter-spacing: -2px;
  }

  .main_contact {
    font-size: 32px;
    color: #bf406c;
    text-align: right;
    width: 540px;
    position: absolute;
    top: 740px;
    left: 5px;
    letter-spacing: -2px;
  }


/* TWO_COLUMNS_TEXT SECTION */

.two_columns_text {
    width: 854px;
    padding: 72px;
}

.subtitle1 {
    color: #bf406c;
}

.abstract {
  line-height: 29px;
}



/* ONLY_PHOTOS */

.only_photos_1 {
  width: 715px;
  padding: 72px;
  background-color: #d5d5d5;
  line-height: 0px;
}

.only_photos_2 {
  width: 585px;
  padding: 72px;
  background-color: #d5d5d5;
  line-height: 0px;
}


/* THREE_COLUMNS_TEXT SECTION */

.three_columns_text {
  width: 1224px;
  padding: 72px;
  background-color: #682a6e;
}

.subtitle2 {
  color: #f1e678;
}

.abstract {
  line-height: 29px;
}


/* COMPLETE_PHOTO */

.complete_photo {
  line-height: 0px;
  padding: 0;
}

/* IMAGE_WITH_LINKS */

.image_with_links {
  width: 1280px;
  background-repeat: no-repeat;
  background-position: left;
  height: 1007px;
  position: relative;
}

#image_link_1 {
  background-image: url("images/lineas_ornato.jpg");
}

.photo_links {
  line-height: 80px;
  text-align: right;
  width: 350px;
  position: absolute;
  top: 60px;
  left: 0px;
}

.main_logo {
  width: 521px;
  position: absolute;
  top: 400px;
  left: 410px;
}




@keyframes fade-in {
  from {opacity: 0; transform: scale(.7,.7)}
  to {opacity: 1;}
}
.fade-in-element {
animation: fade-in 1.4s;
}

.hidden {
  opacity: 0;
}










